doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="navBar")
            nav
                div
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/newmovie") New Movie


        block content
