doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/main.js')
    div(class="navBar")
      nav
        div
          ul
            li
              a(href="/") Home
            li
              a(href="/newmovie") New Movie
            li
              a(href="/admin") Admin

    block content
